# use glob syntax
syntax: glob

*.elc
*.pyc
*~
*.db

__pycache__

# Project specific
config/templates

# cxFreeze
build/

# Virtualenv
venv
build

# Emacs
eproject.cfg

# Temporary files (vim backups)
*.swp

.idea/

# Log files:
*.log

# Vagrant:
.vagrant/
